/* Print Stylesheet */

@media print {
    
    body {
        /* serif font for easier reading */
        font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
        /* increase font size */
        font-size: 1.25em;
}

    /* printer anchor links */
    a[href]::after {
        content: " " attr(href); 
    }

    /* turn paragraphs into colums */
    .face p {
        columns: 2;
    }

    @page {
        /* reset page margins */
        margin: .25in;
    }

}